body {
  font-family: Open Sans,Segoe UI,Tahoma,sans-serif;
  font-size: 15px;
}

/* menu */
.menu-inline {
  list-style: none;
}
.menu-inline li {
  display: inline;
  margin-right: 10px;
  text-transform: uppercase;
}
.menu-inline li a {
  text-decoration: none;
  color: black;
  font-size: 10px;
}

.lg-display-none {
  display: none;
}
.lg-display-block {
  display: block;
}
/* fine menu */
/* header */
.header-top {
  position: fixed;
  width: 100%;
  line-height: 80px;
  background-color: white;
  z-index: 4;
  padding: 0 2%;
}
.header-logo {
  vertical-align: middle;
}

.icon-hamburger {
  float: right;
  vertical-align: middle;
  line-height: 80px;
  font-size: 30px;
}

@media screen and (min-width: 768px) and (max-width: 992px){
  .md-display-block {
    display: block;
  }
  .md-display-none {
    display: none;
  }
}

/* fine header */
/* jumbo */
.jumbo {
  position: relative;
  height: 400px;
  margin-top :80px;
  background-image: url("../img/hero-bg.jpg");
  background-size: cover;
  background-position: center;
}

.jumbo-text {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 10px;
  color: white;
}

.jumbo-text h1 {
  font-size: 3.5em;
  margin-bottom: 0.8em;
}
.jumpo-text p {
  font-size: 2em;
  margin-bottom: 0.8em;
}
.jumbo-text a img {
  width: 100%;
}
.jumbo-text a {
  width: calc(100%/5);
  display: inline-block;
}

/* fine jumbo */
/* main */
main {
  width: 100%;
}

.scooter div {
  padding-top: 50px;
  border-radius: 5px;
}

.scooter h2,
.scooter h3 {
  text-align: center;
}

.scooter a {
  color: blue;
  text-decoration: none;
}

.scooter img {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.learn,
.coming {
  text-align: center;
  padding: 20px 50px;
  margin: 0 20px;
  background-color: #FAFAFA;
}

.iphone {
  width: 100%;
}

.banner img {
  width: 100%;
}
@media screen and (max-width: 768px){
  .md-display-block {
    display: block;
  }
  .md-display-none {
    display: none;
  }
  .jumbo-text a {
    width: calc(100%/4);
    display: inline-block;
  }
}
